.footer{
    display: flex;
    flex-direction: row;
    /* background-color:#b45f50; */
    /* background-image: url('https://www.craftmaestros.com/media/athlete2/default/CM-Footer2_1.png'); */
    color: rgb(224, 217, 217);
   height: auto;
    font-size: 16px;
    font-weight: 400;
    /* height: 00px; */
    /* background-color: rgb(117, 45, 65); */
    padding-bottom: 20px;
}
.aa{
    text-decoration: none;
    color:white!important;
}
/* #vl-footer-section{ */
    /* width: 50%; */
/* padding: 0 20px; */
    /* border-top: 2px solid gray; */
    /* justify-content: center; */
/* } */
.flex-footer {
    display: flex;
    flex-direction: row;
}
.dd-flex{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.connected{
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}
.msg-icon{
    width: 100px;
    height: 100px;
    color: rgb(117, 45, 65);
}
.email-div{
    width: 20%;
    align-self: center;
    color: rgb(117, 45, 65);

}
.newsletter-text{
width: 100%;
justify-content: center;
align-self: center;
}
.newslettet-input{
    border: none;
    border-bottom: 3px solid rgb(80, 15, 34);
    width: 350px;
    outline:none;
}
.newsletter-button{
    margin-left: 20px;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    background-color:  rgb(110, 34, 57) !important;
}
h6{
    color: rgb(167, 162, 162);
}
.input-div{
    width: 40%;
    align-self: center;

}
 .background-black{
    background-image: url('https://www.craftmaestros.com/media/athlete2/default/CM-Footer2_1.png');
        height: 450px;
        /* background-color: rgb(117, 45, 65); */
        box-shadow:  10px 0px 10px 2px rgba(0, 0, 0, 0.2);

 }
#vl-footer{
    width: 70px;
    border-top: 2px solid gray;
}
.divider-footer{
    width: 100%;
    height: auto;
}
.iic{
    border-radius: 100px;
    background-color:#b45f50;
    font-size: 1.6rem;
    padding: 2px;
    margin-right: 10px;
    color:maroon;
    margin-bottom: 10px;
}
.h-w{
    height: 120px;
    width: 120px;
}
.mt{
    margin-top: 117px;
    width: 15%;
}
.one{
width: 35%;
align-self: center;
padding-left: 30px;
padding-right: 10px;
padding-top: 10px;

}
h4
{
    font-size: 1.2rem;
}
.two{
width: 13%;
padding-top: 20px;
text-decoration: none;
color: whitesmoke;
margin-left: 50px;
}
.three{
width: 35%;
padding-top: 20px;
color: whitesmoke;
padding-left: 40px;
}
.hover{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    text-decoration: none;
    color: #dbdbd8;
}
.hover:hover{
    /* animation: move-vertical-out .25s; */
    transform: scale(1.2);

}
.lnk a{
    text-decoration: none;
    color: rgb(192, 189, 189)!important;
}
@media screen and (max-width:1024px){
    .msg-icon{
        width: 100px;
        color: rgb(117, 45, 65);
    }
    .email-div{
        width: 30%;
        align-self: center;
        color: rgb(117, 45, 65);
        }
        h6{
            font-size: 0.8rem;
        }
    .newsletter-text{
    width: 100%;
    justify-content: center;
    align-self: center;
    }
    .newslettet-input{
        border: none;
        border-bottom: 3px solid rgb(80, 15, 34);
        width: 300px;
        outline:none;
    }
    .newsletter-button{
        margin-left: 10px;
        padding: 8px 18px;
        border-radius: 20px;
        color: white;
        background-color:  rgb(110, 34, 57) !important;
    }
    
    form{
        text-align: -webkit-center;
    }
    .input-div{
        width: 50%;
        align-self: center;
    
    }
    
}
@media screen and (max-width:768px)
{
    .footer{
                height: auto;
                width: 100%;
                flex-direction: row;
                align-self: left;
                text-align: left;
    }
    .mt{
        width: 100%;
        margin-top: 0px;
        padding-left: 10px;
    }
    .one{
        width: 100%;
        margin-top: 10px;
        padding-left: 12px;
        padding-right: 20px;
        text-align-last: start;
    }
        .mar{
            margin-left: 0px;
        }
        .two{
            padding-left: 10px;
        width: 100%;
        padding-top: 20px;
        text-decoration: none;
        color: whitesmoke;
        margin-left: 0px;
        }
        .three{
        width: 100%;
        padding-top: 20px;
        color: whitesmoke;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 20px;
        }.lnk a{
            text-decoration: none;
            color: rgb(155, 150, 150)!important;
        }
        .newslettet-input{
            border: none;
            border-bottom: 3px solid #b45f50;
            width: 200px;
            outline:none;
        }
        .newsletter-text{
            padding-left: 5px;
        }
        h6{
            color: gray;
            font-size: 0.8rem;
        }
        .msg-icon{
            width: 80px;
        }
        form{
            margin-left: 10px;
        }
        .newsletter-button{
            margin-left: 10px;
        }
}
@media screen and (max-width:768px)
{
.flex-footer {
        flex-direction: row;
}
.msg-icon{
    width: 100px;
}
h5{
    margin-top: 5px;
    margin-bottom: 3px;
}
.email-div{
    width: 30%;
}
.newsletter-text{
    width: 100%;
}
.dd-flex{
    flex-direction: row;
}
.background-black{
    background-image: url('https://www.craftmaestros.com/media/athlete2/default/CM-Footer2_1.png');
        height: auto;
        /* background-color: rgb(117, 45, 65); */
 }
}
@media screen and (max-width:425px)
{
    .footer{
        height: auto;
        width: 100%;
        flex-direction: column;
        align-self: left;
        text-align: left;
}
    .flex-footer {
        flex-direction: column;
    }
.dd-flex{
    width: 100%;
}
.input-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
}
form{
    display: flex;
    width: 100%;
/* justify-content: center; */
}
.newslettet-input{
    width: 270px;
}
}
@media screen and (max-width:320px)
{
    .newslettet-input{
        width: 180px;
    }
    form{
        margin-left: 0px;
    }
    h6{
        font-size: 0.7rem;

    }
    .msg-icon{
    width: 80px;
    }
    .newsletter-button{
        margin-left: 5px;
    }
}