.hw{padding-left: 10px;
    height: 100px;
 }
.Navbar{
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 99999999;
    box-shadow:  0 10px 12px 0 rgba(0, 0, 0, 0.2);
}
.Navbar .rightside{
    flex: 75%;
    display: flex;
    padding-right: 10px;
    align-items: center;
    flex-direction: row-reverse;
    justify-items: center;
  
  }
.Navbar .rightside .links{
    max-height: 80px;
  }
.Navbar .rightside button{
    display: none;
    background-color: white;
color:black;
border:none;
/* font-size: 28px; */
    margin-left: 20px;
  }
.Navbar .rightside #hidden{
    display: flex;
  }
.Navbar .rightside .links a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
      font-weight: 900;
  padding: 10px 20px;
  justify-content: center;
  /* border: 2px solid black; */
  }
.Navbar .rightside .links a:hover {
    border-radius:8px;
    /* border: 2px solid #dd9933; */
    padding: 10px 20px;
    color: green;
  } 
.btnn {
    /* border: 2px solid #dd9933; */
    padding: 10px 20px !important;
    border-radius: 8px;
    margin-left: 5px;
    color: black !important;
    background-color: rgb(126, 214, 248);
}
.btnn:hover {
  color: black !important;
  background-color: rgb(72, 194, 241);
 }
.Navbar .leftside{
    padding: 10px;
  }
@media only screen and (max-width: 1024px){
.Navbar .rightside .links a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 6px 15px;
  justify-content: center;
  /* align-self: center; */
  }
.Navbar .rightside .links a:hover {
  text-decoration: none;
  background-color: transparent;
  font-size: 1.3rem;
  border-radius:8px;
  color: green;
  /* border: 2px solid #dd9933 ; */
  padding: 6px 15px;
  justify-content: center;
  }
.Navbar .leftside{
padding-left: 0px;
}
.Navbar .rightside{
  flex: 75%;
  display: flex;
  padding-right: 2px;
  align-items: center;
  flex-direction: row-reverse;
  justify-items: center;
}
.btnn {
  /* border: 2px solid #dd9933; */
  padding: 10px 20px !important;
  border-radius: 8px;
  margin-left: 5px;
}
.btnn:hover {
color: white !important;
background-color: green;
}
}
@media only screen and (max-width: 768px)
{
.Navbar .rightside button{
      display: flex;
      display: block;
        }
    .Navbar .leftside{
      padding: 10px;
    }
    .margin-right{
      margin-right: 20px;
    }
    .Navbar .rightside .links{
          display: none;
    }
    .Navbar .rightside #hidden{
      position:absolute;
      z-index: 100;
      left: 0px;
      top: 0px;
      height: 100vh;
      max-height: 100vh;
      width: 50%;
      background-color:#010101;
      display: flex;
      /* color: honeydew !important; */
      flex-direction: column;
      /* align-items: center; */
      padding-top: 50px;
    }
    .Navbar .rightside #hidden a{
      margin: 10px;
      font-size: 1.2rem;
      color: gray;
      padding: 6px 8px;
      border-bottom: 1px solid gray;
          }
    }
  @media  screen and (max-width:425px){
    .Navbar .rightside #hidden{
      position:absolute;
      z-index: 100;
      left: 0px;
      top: 0px;
      height: 100vh;
      max-height: 100vh;
      width: 65%;
      background-color:#010101;
      display: flex;
      /* color: honeydew !important; */
      flex-direction: column;
      /* align-items: center; */
      padding-top: 50px;
    }
  }
  @media  screen and (max-width:376px){
      .hw{
     height: 100px;
     padding-left: 10px;
   }
        .Navbar .leftside{
      padding: 0px;
    }
  }
  @media  screen and (max-width:320px){
  .hw{
    height: 100px;
  }
  .Navbar .rightside #hidden{
    position:absolute;
    z-index: 100;
    left: 0px;
    /* top: 80px; */
    height: 100vh;
    max-height: 100vh;
    width: 70%;
    background-color:black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .Navbar .rightside #hidden a {
      margin: 10px;
      font-size: 1.1rem;
      color: gray;
      padding: 6px 2px;
      border-bottom: 1px solid gray;
}
.btnn {
  /* border: 2px solid #dd9933; */
  padding: 10px 15px !important;
  border-radius: 8px;
  margin-left: 5px;
}
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}
  .dropdown {
  position: relative;
  display: inline-block;
}  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:8px ;
}
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  width: 240px;
}
    .dropdown:hover .dropdown-content {display: block;}

